@import 'variables';
@import 'productdetails';

.header {
    padding: 10px 52px;
    border-bottom: 1px solid #ccc;

    .container {  
        max-width: none;    
    }

    .logo {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .row {
        width: 100%;
    }

    .center {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;

        .item {
            padding: 0 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        .item:last-child {
            color: red;
        }
    }

    .right {
        .form {
            justify-content: flex-end;
            position: relative;

            .img-propose {
                position: absolute;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                bottom: -150px;
                right: -20px;
            }

            .icon {
                color: black;
                font-size: 2.6rem;
                cursor: pointer;
            }
            
            .btn-camera {
                border: none;

                
                &:active {
                    border: none !important;
                }
            }
            
            .img-header {
                display: none;
            }

            .search {
                display: flex;
                width: 50%;
                margin: 0 15px;

                input {
                    padding: 8px;
                    font-size: 1.4rem;
                }

                button {
                    padding: 10px 15px;
                    font-size: 1.8rem;
                    border-color: #ddd;
                    color: #333;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }

            .btn-cart {
                margin: 0 10px;
                background-color: transparent;
                border: none;

                .badge.bg-warning {
                    right: -30px;
                    top: -8px;
                    font-size: 0.8rem;
                }
            }

            .btn-sign {
                font-size: 1.4rem;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            .info-user {
                text-align: center;
                
                .dropdown-toggle {
                    border: none;
                }
                
                .avatar {
                    width: 40px !important;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}

.home {
    padding: 0 70px;
    margin-bottom: 30px;
    
    .content {
        display: flex;
        margin: 20px 0;

        ._navbar {
            padding-left: 0;

            .nav {
                // background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 10px;
                // padding-left: 0;
                padding: 10px 20px;
    
                .nav-link {
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #333;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .slide {
        width: 800px;
        overflow: hidden;
        height: 400px;
        margin: 0 auto;
        display: block;
        border-radius: 5px;

        .item {
            height: 400px;
            object-fit: cover;
        }

        .slick-arrow {
            z-index: 10;

            &.slick-prev {
                left: 12px;
            }
            &.slick-next {
                right: 12px;
            }
        }

        .slick-dots {
            bottom: 4px;
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        a {
            text-decoration: none;
        }

        .row {
            width: 100%;
        }

        .card {
            margin-top: 10px;
            width: 100% !important;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            text-align: center;

            .image {
                overflow: hidden;
                
                .card-img-top {
                    width: 100%;
                    height: 300px !important;
                    transition: all .2s ease-in-out; 
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .card-title {
                margin-top: 5px;
                font-size: 1.6rem;
                font-weight: 400;
                height: 40px;
                justify-content: center;
            }

            .price-heart {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 12px 0;

                h3 {
                    margin: 0;
                }

                svg {
                    font-size: 2rem;
                }
            }
        }
    }

    //Loading
    .loading-component {
        display: flex !important;
        justify-content: center;
        
        .loading {
        }
    }

    .see-more {
        display: flex;
        justify-content: center;

        .btn {
            font-size: 2rem;
        }
    }
}


//--------------------
.img-đetails {
    width: 300px;
    cursor: pointer;
}


// Web cam

.modal-dialog {

    .modal-body {
        
        video {
            width: 100%;
        }
    }

    .btn-capture {
        width: 100px;
        margin: auto;
        border-radius: 10px;
        font-size: 1.4rem;
    
        &:hover {
            background-color: #ddd;
        }
    }

    // .webcam {
    //     text-align: center;
    //     .Ok {
    //         font-size: 1.6rem;
    //         text-decoration: none;
    //         color: #000;
    //         background-color: #ddd;
    //         padding: 5px 10px;
    //         border-radius: 10px;
    //     }
    // }
    
    .ok-pripose {
        font-size: 1.6rem !important;
    }
}


// Card Propose

.card-propose {
    padding: 50px;
    position: relative;

    .icon.camera {
        // display: none;
    }

    h2 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .img-propose {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

//trùng:
    .card {
        margin-top: 10px;
        width: 100% !important;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-align: center;

        .image {
            overflow: hidden;
            
            .card-img-top {
                height: 350px !important;
                transition: all .2s ease-in-out; 
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .card-title {
            margin-top: 5px;
            font-size: 1.6rem;
            font-weight: 400;
            height: 40px;
            justify-content: center;
        }

        .price-heart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px 0;

            h3 {
                margin: 0;
            }

            svg {
                font-size: 2rem;
            }
        }
    }
}


//avatar
.ant-upload-list.ant-upload-list-text {
    display: none;
}


