@import 'variables';
@import 'productdetails';

.header {
    padding: 10px 52px;
    border-bottom: 1px solid #ccc;

    .container {  
        max-width: none;    
    }

    .logo {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .row {
        width: 100%;
    }

    .center {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;

        .item {
            padding: 0 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        .item:last-child {
            color: red;
        }
    }

    .right {
        .form {
            justify-content: flex-end;
            position: relative;

            .img-propose {
                position: absolute;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                bottom: -150px;
                right: -20px;
            }

            .icon {
                color: black;
                font-size: 2.6rem;
                cursor: pointer;
            }
            
            .btn-camera {
                border: none;

                
                &:active {
                    border: none !important;
                }
            }
            
            .img-header {
                display: none;
            }

            .search {
                display: flex;
                width: 50%;
                margin: 0 15px;

                input {
                    padding: 8px;
                    font-size: 1.4rem;
                }

                button {
                    padding: 10px 15px;
                    font-size: 1.8rem;
                    border-color: #ddd;
                    color: #333;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }

            .btn-cart {
                margin: 0 10px;
                background-color: transparent;
                border: none;

                .badge.bg-warning {
                    right: -30px;
                    top: -8px;
                    font-size: 0.8rem;
                }
            }

            .btn-sign {
                font-size: 1.4rem;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            .info-user {
                text-align: center;
                
                .dropdown-toggle {
                    border: none;
                }
                
                .avatar {
                    width: 40px !important;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}

.home {
    padding: 0 70px;
    margin-bottom: 30px;
    
    .content {
        display: flex;
        margin: 20px 0;

        ._navbar {
            padding-left: 0;

            .nav {
                // background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 10px;
                // padding-left: 0;
                padding: 10px 20px;
    
                .nav-link {
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #333;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .slide {
        width: 800px;
        overflow: hidden;
        height: 400px;
        margin: 0 auto;
        display: block;
        border-radius: 5px;

        .item {
            height: 400px;
            object-fit: cover;
        }

        .slick-arrow {
            z-index: 10;

            &.slick-prev {
                left: 12px;
            }
            &.slick-next {
                right: 12px;
            }
        }

        .slick-dots {
            bottom: 4px;
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        a {
            text-decoration: none;
        }

        .row {
            width: 100%;
        }

        .card {
            margin-top: 10px;
            width: 100% !important;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            text-align: center;

            .image {
                overflow: hidden;
                
                .card-img-top {
                    width: 100%;
                    height: 300px !important;
                    transition: all .2s ease-in-out; 
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .card-title {
                margin-top: 5px;
                font-size: 1.6rem;
                font-weight: 400;
                height: 40px;
                justify-content: center;
            }

            .price-heart {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 12px 0;

                h3 {
                    margin: 0;
                }

                svg {
                    font-size: 2rem;
                }
            }
        }
        //Loading
        .loading-component {
            display: flex !important;
            justify-content: center;
            width: 100%;
            .loading {
            }
        }
    }


    .see-more {
        display: flex;
        justify-content: center;

        .btn {
            font-size: 2rem;
        }
    }
}


//--------------------
.img-đetails {
    width: 300px;
    cursor: pointer;
}


// Web cam

.modal-dialog {

    .modal-body {
        
        video {
            width: 100%;
        }
    }

    .btn-capture {
        width: 100px;
        margin: auto;
        border-radius: 10px;
        font-size: 1.4rem;
    
        &:hover {
            background-color: #ddd;
        }
    }

    // .webcam {
    //     text-align: center;
    //     .Ok {
    //         font-size: 1.6rem;
    //         text-decoration: none;
    //         color: #000;
    //         background-color: #ddd;
    //         padding: 5px 10px;
    //         border-radius: 10px;
    //     }
    // }
    
    .ok-pripose {
        font-size: 1.6rem !important;
    }
}


// Card Propose

.card-propose {
    padding: 50px;
    position: relative;

    .agenho, .agelon {
        display: none;

        &:first-child {
            display: block;
        }
    }

    .icon.camera {
        // display: none;
    }

    h2 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .img-propose {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

//trùng:
    .card {
        margin-top: 10px;
        width: 100% !important;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-align: center;

        .image {
            overflow: hidden;
            
            .card-img-top {
                height: 350px !important;
                transition: all .2s ease-in-out; 
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .card-title {
            margin-top: 5px;
            font-size: 1.6rem;
            font-weight: 400;
            height: 40px;
            justify-content: center;
        }

        .price-heart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px 0;

            h3 {
                margin: 0;
            }

            svg {
                font-size: 2rem;
            }
        }
    }
}


//avatar
.ant-upload-list.ant-upload-list-text {
    display: none;
}

//ADMIN product
.adminProduct {

    .body-product {
        // position: relative;

        .loading {
            display: flex !important;
            justify-content: center;
            width: 100%;
        }
    }

}

.modal-body {

    .ant-form-item:last-child {
        margin-bottom: 0;
    }

    .loading {
        display: flex !important;
        justify-content: center;
        width: 100%;
    }
}



.produc-details {

    .container{
        display: flex;
        padding: 50px;
        padding-right: 200px;
    }
    .img-3{
        padding: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    
    }
    .img-anhphu{
        display: flex;
    }
    .img-1{
        width: 500px;
        height: 450px;
    }
    .notify{
        font-size: 20px;
        margin-top: 100px;
        margin-left: 50px;
        
    }
    h6{
        font-size: 20px;
    }
    .mota{
        font-size: 20px;
        opacity: 0.5;
    }
    .font-bold{
        font-weight: 1000;
        margin-top: 5px;
    }
    .tieude{
        color: purple;
        font-weight: 1000;
        margin-top: 100px ;
    }
    .choose{
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .cangiua{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .congtru{
        display: flex;
        font-size: 30px;
        height: 40px ;
        width: 40px;
        color: black;
        background-color: rgb(245, 204, 245)  ;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .number{
        font-size: 30px;
        padding: 0 10px;
    }
    .add{
        // width: 200px;
        text-align: center;
        margin: 0 40px;
        background-color: rgb(223, 67, 223);
        border-radius: 15px;
        padding: 0px 50px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        height: 50px;
    }
    .gia{
        margin: 5px 10px;
    }
}

.card_Propose {
    position: relative;
}

.render_model {
    display: none;
    &:first-child {
        display: flex;
        position: absolute;
        top: 20px;
        right: 10px;
        h3 {
            padding: 0 10px;
        }
    }
}