@charset "UTF-8";
.color-red {
  color: red; }

.align-items_center {
  display: flex;
  align-items: center; }

.transparent {
  color: transparent; }

.hidden {
  display: none; }

body {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.header {
  padding: 5px 40px 5px 50px;
  border-bottom: 1px solid #ccc; }
  .header .container {
    max-width: none; }
  .header .logo {
    width: 80px;
    height: 80px;
    object-fit: cover; }
  .header .row {
    width: 100%; }
  .header .center {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold; }
    .header .center .item {
      padding: 0 15px; }
      .header .center .item:hover {
        text-decoration: underline; }
    .header .center .item:last-child {
      color: red; }
  .header .right .form {
    justify-content: flex-end;
    position: relative; }
    .header .right .form .img-propose {
      position: absolute;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      bottom: -150px;
      right: -20px; }
    .header .right .form .icon {
      color: black;
      font-size: 2.6rem;
      cursor: pointer; }
    .header .right .form .btn-camera {
      border: none; }
      .header .right .form .btn-camera:active {
        border: none !important; }
    .header .right .form .img-header {
      display: none; }
    .header .right .form .search {
      display: flex;
      width: 50%;
      margin: 0 25px 0 15px; }
      .header .right .form .search input {
        padding: 12px;
        font-size: 1.4rem;
        border-radius: 30px; }
        .header .right .form .search input:focus {
          box-shadow: 0 3px 5px 0.2rem rgba(32, 32, 33, 0.25);
          border-color: rgba(32, 32, 33, 0.25); }
      .header .right .form .search button {
        padding: 10px 15px;
        font-size: 1.8rem;
        border-color: #ddd;
        color: #333;
        border-radius: 30px; }
        .header .right .form .search button:hover {
          background-color: #fff;
          box-shadow: 0 3px 5px 0.25rem rgba(32, 32, 33, 0.25);
          border-color: rgba(32, 32, 33, 0.25); }
    .header .right .form .btn-cart {
      margin: 0 20px 0 12px;
      background-color: transparent;
      border: none;
      padding: 0; }
      .header .right .form .btn-cart .badge.bg-warning {
        right: -30px;
        top: -8px;
        font-size: 0.8rem; }
    .header .right .form .btn-sign {
      font-size: 1.4rem; }
      .header .right .form .btn-sign:hover {
        text-decoration: underline; }
    .header .right .form .info-user {
      text-align: center;
      height: 70px;
      line-height: 70px; }
      .header .right .form .info-user .dropdown-toggle {
        border: none;
        padding: auto 0 !important; }
        .header .right .form .info-user .dropdown-toggle::after {
          border: none; }
      .header .right .form .info-user .dropdown-menu {
        top: 96%;
        box-shadow: #3c4650 0px 10px 30px -10px;
        border-radius: 10px; }
        .header .right .form .info-user .dropdown-menu::before {
          content: "";
          position: absolute;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #000;
          left: 50%;
          top: -10px; }
      .header .right .form .info-user .avatar {
        width: 40px !important;
        height: 40px;
        object-fit: cover;
        border-radius: 50%; }
      .header .right .form .info-user .textName {
        margin-top: 5px;
        font-size: 12px; }
      .header .right .form .info-user .dropdown-item {
        line-height: 24px; }

.home {
  padding: 0 52px;
  margin-bottom: 30px; }
  .home .content {
    display: flex;
    margin: 20px 0; }
    .home .content ._navbar {
      padding-left: 0; }
      .home .content ._navbar .nav {
        border-radius: 10px;
        padding: 10px 25px; }
        .home .content ._navbar .nav .nav-link {
          font-size: 1.8rem;
          font-weight: bold;
          text-transform: uppercase;
          color: #333; }
          .home .content ._navbar .nav .nav-link:hover {
            text-decoration: underline; }
  .home .slide {
    width: 800px;
    overflow: hidden;
    height: 350px;
    margin: 0 auto;
    display: block;
    border-radius: 5px; }
    .home .slide .item {
      height: 350px;
      object-fit: cover; }
    .home .slide .slick-arrow {
      z-index: 10; }
      .home .slide .slick-arrow.slick-prev {
        left: 12px; }
      .home .slide .slick-arrow.slick-next {
        right: 12px; }
    .home .slide .slick-dots {
      bottom: 4px; }
  .home .product {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 20px 0; }
    .home .product a {
      text-decoration: none; }
    .home .product .row {
      width: 100%; }
    .home .product .card {
      margin-top: 10px;
      width: 100% !important;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: none;
      border-radius: 10px;
      overflow: hidden;
      text-align: center; }
      .home .product .card .image {
        overflow: hidden; }
        .home .product .card .image .card-img-top {
          width: 100%;
          height: 300px !important;
          transition: all 0.2s ease-in-out; }
          .home .product .card .image .card-img-top:hover {
            transform: scale(1.2); }
      .home .product .card .card-title {
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        height: 40px;
        justify-content: center; }
      .home .product .card .price-heart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0; }
        .home .product .card .price-heart h3 {
          margin: 0; }
        .home .product .card .price-heart svg {
          font-size: 2rem; }
    .home .product .loading-component {
      display: flex !important;
      justify-content: center;
      width: 100%; }

.see-more {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .see-more .btn {
    font-size: 2rem; }

.img-đetails {
  width: 300px;
  cursor: pointer; }

.modal-dialog .modal-content {
  padding-bottom: 12px; }

.modal-dialog .modal-body video {
  width: 100%; }

.modal-dialog .btn-capture {
  width: 100px;
  margin: auto;
  border-radius: 10px;
  font-size: 1.4rem; }
  .modal-dialog .btn-capture:hover {
    background-color: #ddd; }

.modal-dialog .modal-footer {
  justify-content: center; }
  .modal-dialog .modal-footer button {
    padding: 10px 20px; }

.modal-dialog .ok-pripose {
  font-size: 1.6rem !important; }

.card-propose {
  padding: 50px;
  position: relative; }
  .card-propose .agenho,
  .card-propose .agelon {
    display: none; }
    .card-propose .agenho:first-child,
    .card-propose .agelon:first-child {
      display: block; }
  .card-propose h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase; }
  .card-propose .img-propose {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; }
  .card-propose .card {
    margin-top: 10px;
    width: 100% !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden; }
    .card-propose .card .image {
      overflow: hidden; }
      .card-propose .card .image .card-img-top {
        height: 350px !important;
        transition: all 0.2s ease-in-out; }
        .card-propose .card .image .card-img-top:hover {
          transform: scale(1.2); }
    .card-propose .card .card-title {
      margin-top: 5px;
      font-size: 1.6rem;
      font-weight: 400;
      height: 40px;
      justify-content: center; }
    .card-propose .card .price-heart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0; }
      .card-propose .card .price-heart h3 {
        margin: 0; }
      .card-propose .card .price-heart svg {
        font-size: 2rem; }

.search-page {
  padding: 20px; }
  .search-page p {
    text-align: center;
    font-size: 20px; }
    .search-page p span {
      font-weight: bold; }
  .search-page .card {
    margin-top: 10px;
    width: 100% !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden; }
    .search-page .card .image {
      overflow: hidden; }
      .search-page .card .image .card-img-top {
        height: 350px !important;
        transition: all 0.2s ease-in-out; }
        .search-page .card .image .card-img-top:hover {
          transform: scale(1.2); }
    .search-page .card .card-title {
      margin-top: 5px;
      font-size: 1.6rem;
      font-weight: 400;
      height: 40px;
      justify-content: center; }
    .search-page .card .price-heart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0; }
      .search-page .card .price-heart h3 {
        margin: 0; }
      .search-page .card .price-heart svg {
        font-size: 2rem; }

.sign {
  width: 60%;
  margin-top: 50px !important; }
  .sign .card {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    overflow: hidden; }
  .sign .image {
    height: 100%;
    object-fit: cover; }
  .sign .title {
    font-size: 2.6rem !important; }
  .sign .card-body {
    padding: 30px 30px; }
  .sign .input {
    display: flex;
    align-items: center;
    margin: 15px 0; }
    .sign .input .text {
      width: 150px;
      font-size: 1.6rem;
      margin: 0; }
    .sign .input .input-nhap {
      width: 280px;
      padding: 10px;
      font-size: 1.5rem; }
      .sign .input .input-nhap:focus {
        box-shadow: none;
        border-color: #000; }
    .sign .input .form-outline {
      margin: 0 !important; }
  .sign .btn-login {
    padding: 15px 0;
    width: 120px;
    font-size: 1.6rem; }
    .sign .btn-login:hover {
      opacity: 0.8; }
  .sign .err {
    font-size: 1.5rem;
    margin-bottom: 20px; }
  .sign .qmk-dk {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px; }
    .sign .qmk-dk a {
      display: block;
      color: #000 !important; }
  .sign .footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sign .footer .button {
      display: block; }

.ant-upload-list.ant-upload-list-text {
  display: none; }

.adminProduct .body-product {
  margin-top: 20px; }
  .adminProduct .body-product .loading {
    display: flex !important;
    justify-content: center;
    width: 100%; }

.text_QLSP {
  margin-bottom: 20px; }

.modal-body .ant-form-item:last-child {
  margin-bottom: 0; }

.modal-body .submit_btn:hover {
  background-color: #333 !important; }

.modal-body .loading {
  display: flex !important;
  justify-content: center;
  width: 100%; }

.produc-details .container {
  display: flex;
  padding: 50px;
  padding-right: 100px; }

.produc-details .img-anhphu {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 10px; }
  .produc-details .img-anhphu img {
    padding: 0;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    object-fit: cover; }
    .produc-details .img-anhphu img:hover {
      border-color: #000; }
  .produc-details .img-anhphu .active {
    border-color: #000; }

.produc-details .img-1 {
  width: 500px;
  height: 450px; }

.produc-details .notify {
  margin-top: 100px;
  margin-left: 50px;
  margin: 0 0 0 20px;
  padding: 20px; }
  .produc-details .notify .name {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase; }
  .produc-details .notify .gia {
    margin-top: 50px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px; }
    .produc-details .notify .gia span {
      text-decoration: underline; }
  .produc-details .notify .size {
    margin-top: 50px; }
    .produc-details .notify .size .size-text {
      font-size: 18px; }
      .produc-details .notify .size .size-text span {
        font-weight: bold;
        margin-left: 5px; }
    .produc-details .notify .size .size-list {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin-top: 20px; }
      .produc-details .notify .size .size-list .size-item {
        padding: 12px 0;
        width: 50px;
        border: 1.5px solid #ccc;
        margin: 0 10px;
        font-size: 16px;
        text-align: center;
        cursor: pointer; }
        .produc-details .notify .size .size-list .size-item:first-child {
          margin-left: 0; }
        .produc-details .notify .size .size-list .size-item:hover {
          border-color: #888; }
      .produc-details .notify .size .size-list .size-item.active {
        color: #fff;
        background-color: #000;
        border: none; }
  .produc-details .notify .choose {
    display: flex;
    align-items: center;
    margin-top: 50px; }
    .produc-details .notify .choose .cangiua {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #ccc;
      padding: 5px 0; }
      .produc-details .notify .choose .cangiua .congtru {
        display: flex;
        height: 40px;
        width: 40px;
        color: #000;
        background-color: #fff;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 26px;
        font-weight: 500; }
    .produc-details .notify .choose .number {
      font-size: 26px;
      padding: 0;
      font-weight: 500; }
    .produc-details .notify .choose .add {
      text-align: center;
      margin: 0 40px;
      background-color: #000;
      border-radius: 10px;
      padding: 0px 100px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      height: 50px;
      text-transform: uppercase; }
      .produc-details .notify .choose .add:hover {
        opacity: 0.8; }
    .produc-details .notify .choose .iconHeart {
      font-size: 40px;
      cursor: pointer; }

.card_Propose {
  position: relative; }

.render_model {
  display: none; }
  .render_model:first-child {
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px; }
    .render_model:first-child h3 {
      padding: 0 10px; }

.formProfile {
  margin: auto;
  width: 600px;
  font-size: 1.6rem; }
  .formProfile .rowProfile {
    display: block; }
    .formProfile .rowProfile .item {
      display: flex;
      align-items: center;
      margin: 25px;
      width: 500px; }
      .formProfile .rowProfile .item label {
        width: 100px;
        font-weight: 500; }
      .formProfile .rowProfile .item input {
        font-size: 1.4rem;
        padding: 10px 15px; }
        .formProfile .rowProfile .item input:focus {
          box-shadow: none;
          border-color: #000; }
  .formProfile .submit {
    background-color: #000 !important;
    border: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 10px; }
    .formProfile .submit:hover {
      opacity: 0.8; }
