@charset "UTF-8";
.color-red {
  color: red; }

.align-items_center {
  display: flex;
  align-items: center; }

.transparent {
  color: transparent; }

.hidden {
  display: none; }

body {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.row > * {
  padding-right: 10px;
  padding-left: 10px; }

.css-1jqq78o-placeholder {
  color: #000 !important; }

.translateY-100 {
  transform: translateY(-100%);
  transition: all 0.3s; }

.translateY0 {
  transform: translateY(0);
  transition: all 0.3s; }

.ReactQueryDevtools svg {
  display: none; }

.header {
  padding: 0px 50px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 1px 10px 0px; }
  .header .container {
    max-width: none; }
  .header .logo {
    width: 70px;
    height: 70px;
    object-fit: cover; }
  .header .row {
    width: 100vw;
    display: flex;
    justify-self: center; }
  .header .center {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold; }
    .header .center .item {
      padding: 0 15px !important;
      font-size: 18px; }
      .header .center .item:hover {
        text-decoration: underline; }
  .header .right .form {
    justify-content: flex-end;
    position: relative; }
    .header .right .form .img-propose {
      position: absolute;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      bottom: -150px;
      right: -20px; }
    .header .right .form .icon {
      color: black;
      font-size: 2.6rem;
      cursor: pointer; }
    .header .right .form .btn-camera {
      border: none; }
      .header .right .form .btn-camera:active {
        border: none !important; }
    .header .right .form .img-header {
      display: none; }
    .header .right .form .search {
      display: flex;
      width: 50%;
      margin: 0 15px;
      position: relative;
      border-bottom: 1px solid #999; }
      .header .right .form .search input {
        padding: 0;
        font-size: 1.6rem;
        border-radius: 0px;
        border: none;
        background-color: transparent; }
        .header .right .form .search input:focus {
          border-bottom: none;
          box-shadow: none; }
      .header .right .form .search button {
        padding: 10px;
        border-radius: 50%;
        font-size: 1.8rem;
        color: #333;
        border: none;
        background-color: transparent; }
    .header .right .form .btn-cart {
      margin: 0 20px 0 10px;
      background-color: transparent;
      border: none;
      position: relative; }
      .header .right .form .btn-cart .badge.bg-warning {
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: 0.8rem; }
    .header .right .form .btn-sign {
      font-size: 1.4rem; }
      .header .right .form .btn-sign:hover {
        text-decoration: underline; }
    .header .right .form .info-user {
      text-align: center;
      height: 70px;
      line-height: 70px; }
      .header .right .form .info-user .dropdown-toggle {
        border: none;
        padding: auto 0 !important; }
        .header .right .form .info-user .dropdown-toggle::after {
          border: none; }
      .header .right .form .info-user .dropdown-menu {
        top: 96%;
        box-shadow: #3c4650 0px 10px 30px -10px;
        border-radius: 10px; }
        .header .right .form .info-user .dropdown-menu::before {
          content: "";
          position: absolute;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #000;
          left: 50%;
          top: -10px; }
      .header .right .form .info-user .avatar {
        width: 30px !important;
        height: 30px;
        object-fit: cover;
        border-radius: 50%; }
      .header .right .form .info-user .textName {
        margin-top: 5px;
        font-size: 12px; }
      .header .right .form .info-user .dropdown-item {
        line-height: 24px; }

.home {
  margin-bottom: 30px; }

.content {
  display: flex;
  width: 100%;
  margin: 0 !important; }
  .content .product {
    padding: 50px; }
  .content .col-slide {
    padding: 0; }
  .content .slide {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    border-radius: 5px; }
    .content .slide .slick-arrow.slick-prev {
      display: none !important; }
    .content .slide .slick-arrow.slick-next {
      display: none !important; }
    .content .slide .item {
      object-fit: cover;
      height: 40vh;
      width: 100%; }
    .content .slide .slick-arrow {
      z-index: 10; }
      .content .slide .slick-arrow.slick-prev {
        left: 12px; }
      .content .slide .slick-arrow.slick-next {
        right: 12px; }
    .content .slide ._navbar {
      padding-left: 0; }
      .content .slide ._navbar .nav .navlink-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10% 0 10%;
        flex-wrap: wrap; }
      .content .slide ._navbar .nav .nav-link {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
        padding: 5px 10px; }
        .content .slide ._navbar .nav .nav-link:hover {
          text-decoration: underline; }
        .content .slide ._navbar .nav .nav-link:focus {
          text-decoration: underline; }
    .content .slide .slick-dots {
      bottom: 4px; }
  .content .product {
    margin-top: 10px; }
    .content .product .text-type {
      margin: 0;
      font-size: 34px;
      line-height: 42px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      z-index: 3;
      width: fit-content;
      margin-bottom: 20px; }
      .content .product .text-type::after {
        content: "";
        height: 10px;
        bottom: 5px;
        left: -15px;
        right: -15px;
        background: #e1e1e1;
        position: absolute;
        z-index: -1 !important; }
    .content .product a {
      text-decoration: none; }
    .content .product .card {
      margin-top: 10px;
      width: 100% !important;
      cursor: pointer;
      border: none !important;
      overflow: hidden; }
      .content .product .card .card-body {
        padding: 10px 0; }
      .content .product .card .image {
        overflow: hidden;
        border-radius: 10px;
        object-fit: cover; }
        .content .product .card .image .card-img-top {
          width: 100%;
          height: 400px;
          object-fit: cover; }
      .content .product .card .card-title {
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: 400;
        height: 35px;
        align-items: start;
        margin-top: 0;
        margin-bottom: 0; }
      .content .product .card .name-heart {
        display: flex;
        justify-content: space-between;
        margin: 12px 0; }
        .content .product .card .name-heart h3 {
          margin: 0; }
        .content .product .card .name-heart svg {
          font-size: 2.7rem;
          margin-left: 10px; }
    .content .product .loading-component {
      display: flex !important;
      justify-content: center;
      width: 100%; }

.loading-component .loading {
  border-color: black black transparent !important; }

.see-more {
  width: 100%;
  text-align: center;
  height: 50px; }
  .see-more .btn {
    font-size: 1.6rem;
    padding: 8px 18px;
    color: #000;
    border-color: #000;
    border-radius: 10px; }
    .see-more .btn:hover {
      background-color: #000;
      color: #fff; }

.img-đetails {
  width: 300px;
  cursor: pointer;
  object-fit: cover; }

.modal-dialog .modal-content {
  padding-bottom: 12px; }

.modal-dialog .modal-body video {
  width: 100%; }

.modal-dialog .btn-capture {
  width: 100px;
  margin: auto;
  border-radius: 10px;
  font-size: 1.4rem; }
  .modal-dialog .btn-capture:hover {
    background-color: #ddd; }

.modal-dialog .modal-footer {
  justify-content: center; }
  .modal-dialog .modal-footer button {
    padding: 10px 20px; }

.modal-dialog .ok-pripose {
  font-size: 1.6rem !important; }

.card-propose {
  padding: 50px;
  padding-bottom: 0;
  position: relative;
  margin-bottom: 50px;
  margin-top: 80px; }
  .card-propose .agenho,
  .card-propose .agelon {
    display: none; }
    .card-propose .agenho:first-child,
    .card-propose .agelon:first-child {
      display: block; }
  .card-propose h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase; }
  .card-propose .img-propose {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; }

.card {
  margin-top: 10px;
  width: 100% !important;
  cursor: pointer;
  border: none !important;
  overflow: hidden; }
  .card .card-body {
    padding: 10px 0; }
  .card .image {
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover; }
    .card .image .card-img-top {
      width: 100%;
      height: 400px;
      object-fit: cover; }
  .card .card-title {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    height: 35px;
    align-items: start;
    margin-top: 0;
    margin-bottom: 0; }
  .card .name-heart {
    display: flex;
    justify-content: space-between;
    margin: 12px 0; }
    .card .name-heart h3 {
      margin: 0; }
    .card .name-heart svg {
      font-size: 2.7rem;
      margin-left: 10px; }

.search-page {
  padding: 40px 50px;
  margin-bottom: 50px;
  min-height: 100vh; }
  .search-page .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px; }
    .search-page .title span {
      font-weight: bold; }
    .search-page .title .input {
      font-size: 2rem;
      width: 150px;
      border: none;
      border-radius: 0;
      border-bottom: 1.5px solid #000;
      padding: 5px 5px 0 5px;
      display: inline; }
      .search-page .title .input:focus {
        box-shadow: none; }

.sign {
  width: 65%;
  margin-top: 50px !important; }
  .sign .card {
    border: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    overflow: hidden; }
  .sign .image {
    height: 100%;
    object-fit: cover; }
  .sign .title {
    font-size: 2.6rem !important; }
  .sign .card-body {
    padding: 30px 40px; }
  .sign .input {
    display: flex;
    align-items: center;
    margin: 15px 0; }
    .sign .input .text {
      width: 150px;
      font-size: 1.6rem;
      margin: 0; }
    .sign .input .input-nhap {
      width: 280px;
      padding: 10px;
      font-size: 1.5rem; }
      .sign .input .input-nhap:focus {
        box-shadow: none;
        border-color: #000; }
    .sign .input .form-outline {
      margin: 0 !important; }
  .sign .btn-login {
    padding: 15px 0;
    width: 120px;
    font-size: 1.6rem; }
    .sign .btn-login:hover {
      opacity: 0.8; }
  .sign .err {
    font-size: 1.5rem;
    margin-bottom: 20px; }
  .sign .qmk-dk {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px; }
    .sign .qmk-dk a {
      display: block;
      color: #000 !important; }
  .sign .footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sign .footer .button {
      display: block; }

.ant-upload-list.ant-upload-list-text {
  display: none; }

:where(.css-dev-only-do-not-override-1vr7spz).ant-menu-light
.ant-menu-item-selected {
  color: #fff;
  background-color: #444; }

.ant-pagination-item.ant-pagination-item-active {
  border-color: #000; }
  .ant-pagination-item.ant-pagination-item-active:hover {
    border-color: #000; }

.ant-table-placeholder {
  display: none; }

.ant-drawer-content-wrapper {
  width: 45% !important; }
  .ant-drawer-content-wrapper .modal-body {
    padding: 30px 0; }

.ant-drawer-body {
  padding: 24px 30px 24px 40px !important; }

.ant-col.ant-col-8.ant-form-item-label.css-dev-only-do-not-override-1vr7spz {
  text-align: left; }

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1vr7spz {
  box-shadow: #cccccc 1px 1px 2px; }

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1vr7spz {
  box-shadow: #cccccc 1px 1px 0px; }

.ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-default:hover {
  color: #000;
  border-color: #000; }

.ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-default:active {
  color: #000;
  border-color: #000; }

.ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-default:focus-visible {
  outline-color: #555; }

.ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-primary {
  background-color: #000; }
  .ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-primary:hover {
    background-color: #000;
    opacity: 0.8; }
  .ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-primary:active {
    background-color: #000; }
  .ant-btn.css-dev-only-do-not-override-1vr7spz.ant-btn-primary:focus-visible {
    outline-color: #555; }

.adminProduct .body-product {
  margin-top: 20px; }
  .adminProduct .body-product .loading {
    display: flex !important;
    justify-content: center;
    width: 100%; }

.text_QLSP {
  margin-bottom: 20px; }

.modal-body {
  padding: 30px 80px; }
  .modal-body .sizeDuoi .ant-form-item {
    margin-bottom: 0; }
  .modal-body .setSize {
    display: flex;
    align-items: center; }
    .modal-body .setSize span {
      margin-right: 5px; }
  .modal-body .ant-form {
    width: 600px !important; }
    .modal-body .ant-form .ant-row {
      display: flex;
      justify-content: start; }
      .modal-body .ant-form .ant-row .ant-col {
        width: 100px;
        text-align: left; }
  .modal-body .inputSize {
    width: 65px;
    margin-right: 10px; }

.ant-form-item:last-child {
  margin-bottom: 0; }

.submit_btn:hover {
  background-color: #333 !important; }

.loading {
  display: flex !important;
  justify-content: center;
  margin-top: 5px; }

.ant-modal.css-dev-only-do-not-override-1vr7spz .ant-modal-content {
  width: 100% !important; }

.produc-details {
  min-height: 100vh; }
  .produc-details .container {
    display: flex;
    padding: 50px 0; }
  .produc-details .row .imgload {
    width: 540px !important;
    margin-left: 90px; }
  .produc-details .row .textload {
    flex: 1; }
  .produc-details .img-anhphu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 10px; }
    .produc-details .img-anhphu img {
      padding: 0;
      border: 1px solid #ccc;
      width: 100px;
      height: 100px;
      object-fit: cover; }
      .produc-details .img-anhphu img:hover {
        border-color: #000; }
    .produc-details .img-anhphu .active {
      border-color: #000; }
  .produc-details .img-1 {
    width: 100%;
    height: 500px; }
  .produc-details .notify {
    margin-top: 100px;
    margin: 0 0 0 40px;
    padding-top: 20px; }
    .produc-details .notify .name {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase; }
    .produc-details .notify .gia {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px; }
      .produc-details .notify .gia span {
        text-decoration: underline; }
    .produc-details .notify .size {
      margin-top: 30px; }
      .produc-details .notify .size .size-text {
        font-size: 17px;
        display: flex; }
        .produc-details .notify .size .size-text p {
          margin-bottom: 0; }
        .produc-details .notify .size .size-text .text-bangSize {
          text-decoration: underline;
          cursor: pointer; }
        .produc-details .notify .size .size-text span {
          font-weight: bold;
          margin-left: 5px; }
      .produc-details .notify .size .size-list {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 20px; }
        .produc-details .notify .size .size-list .size-item {
          line-height: 45px;
          width: 45px;
          border: 1.5px solid #ccc;
          margin: 0 20px 0 0;
          font-size: 16px;
          text-align: center;
          cursor: pointer; }
          .produc-details .notify .size .size-list .size-item:hover {
            border-color: #888; }
        .produc-details .notify .size .size-list .size-item.active {
          color: #fff;
          background-color: #000;
          border: none; }
        .produc-details .notify .size .size-list .size-item.disbled {
          color: #ddd;
          border-color: #ddd; }
          .produc-details .notify .size .size-list .size-item.disbled:hover {
            border-color: #ddd;
            cursor: no-drop; }
    .produc-details .notify .choose {
      display: flex;
      align-items: center;
      margin-top: 30px; }
      .produc-details .notify .choose .cangiua {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #ccc;
        padding: 5px 0;
        margin-right: 20px; }
        .produc-details .notify .choose .cangiua .congtru {
          display: flex;
          height: 40px;
          width: 40px;
          color: #000;
          background-color: #fff;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          border: none;
          font-size: 26px;
          font-weight: 500; }
      .produc-details .notify .choose .number {
        font-size: 26px;
        padding: 0;
        font-weight: 500; }
      .produc-details .notify .choose .add {
        text-align: center;
        margin: 0 20px;
        background-color: #000;
        border-radius: 10px;
        padding: 0px 50px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        height: 50px;
        text-transform: uppercase; }
        .produc-details .notify .choose .add:hover {
          opacity: 0.8; }
      .produc-details .notify .choose .iconHeart {
        font-size: 40px;
        cursor: pointer; }
  .produc-details .product-info-bottom {
    background-color: #f5f5f5;
    margin-top: 40px; }
    .produc-details .product-info-bottom .product-info-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 30px; }
      .produc-details .product-info-bottom .product-info-list .product-info-item {
        width: 33.33333333%;
        display: flex;
        align-items: center;
        padding: 10px; }
        .produc-details .product-info-bottom .product-info-list .product-info-item .text {
          margin-left: 10px; }
          .produc-details .product-info-bottom .product-info-list .product-info-item .text p {
            font-size: 12px;
            color: #333;
            margin: 0; }
          .produc-details .product-info-bottom .product-info-list .product-info-item .text div {
            font-size: 14px;
            padding-bottom: 5px; }

.card_Propose {
  position: relative; }

.render_model {
  display: none; }
  .render_model:first-child {
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px; }
    .render_model:first-child h3 {
      padding: 0 10px; }

.formProfile {
  margin: auto;
  width: 600px;
  font-size: 1.6rem; }
  .formProfile .rowProfile {
    display: block; }
    .formProfile .rowProfile .item {
      display: flex;
      align-items: center;
      margin: 25px;
      width: 500px; }
      .formProfile .rowProfile .item label {
        width: 100px;
        font-weight: 500; }
      .formProfile .rowProfile .item input {
        font-size: 1.4rem;
        padding: 10px 15px; }
        .formProfile .rowProfile .item input:focus {
          box-shadow: none;
          border-color: #000; }
  .formProfile .submit {
    background-color: #000 !important;
    border: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 10px; }
    .formProfile .submit:hover {
      opacity: 0.8; }

.orderPage .cart-body {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 50px; }
  .orderPage .cart-body .cart-shopping {
    width: 70%;
    padding: 20px 30px;
    margin: 0;
    border-radius: 10px;
    background-color: #fff; }
    .orderPage .cart-body .cart-shopping .product-cart {
      overflow-y: scroll;
      max-height: 60vh; }
    .orderPage .cart-body .cart-shopping .title {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      align-items: center; }
    .orderPage .cart-body .cart-shopping .checkbox {
      margin-right: 20px; }
    .orderPage .cart-body .cart-shopping .item-product {
      align-items: center;
      margin-bottom: 20px;
      padding: 10px;
      border-top: 1px solid #eee;
      justify-content: space-between;
      background-color: #fff; }
      .orderPage .cart-body .cart-shopping .item-product .img-product {
        width: 120px; }
      .orderPage .cart-body .cart-shopping .item-product .name-product {
        max-width: 400px;
        font-weight: 400;
        text-overflow: ellipsis; }
      .orderPage .cart-body .cart-shopping .item-product .price-product {
        padding: 5px 0;
        font-weight: 400; }
      .orderPage .cart-body .cart-shopping .item-product .amount-product {
        font-size: 18px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: center; }
        .orderPage .cart-body .cart-shopping .item-product .amount-product button {
          border: none;
          background-color: #fff;
          font-weight: bold; }
      .orderPage .cart-body .cart-shopping .item-product .text-product {
        margin-left: 20px; }
  .orderPage .cart-body .pay {
    width: 30%;
    text-align: center; }
    .orderPage .cart-body .pay .pay-body {
      padding: 20px;
      border-radius: 10px; }
    .orderPage .cart-body .pay .pay-list {
      list-style: none;
      padding: 0; }
      .orderPage .cart-body .pay .pay-list .pay-item {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .orderPage .cart-body .pay .pay-list .pay-item span {
          font-size: 20px; }
    .orderPage .cart-body .pay .pay-btn {
      padding: 15px 30px;
      color: #fff;
      background-color: #000;
      border-radius: 10px;
      text-transform: uppercase;
      border: none;
      font-size: 15px; }
      .orderPage .cart-body .pay .pay-btn:hover {
        opacity: 0.8; }

.page-payment {
  padding: 0 100px;
  margin-bottom: 50px;
  margin-top: 20px;
  min-height: 100vh; }
  .page-payment .payment {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .page-payment .payment .pay-radio {
      background-color: #eee;
      height: 170px;
      padding: 30px 30px;
      width: 50%;
      justify-content: space-between;
      display: flex;
      border-radius: 10px;
      align-items: start;
      margin-right: 20px; }
      .page-payment .payment .pay-radio .radio-text {
        display: flex;
        margin-top: 10px;
        align-items: center; }
        .page-payment .payment .pay-radio .radio-text h4 {
          margin: 0; }
    .page-payment .payment .pay-address {
      background-color: #eee;
      padding: 20px 100px;
      border-radius: 10px;
      height: 170px;
      width: 50%;
      margin-left: 20px;
      text-align: center; }
      .page-payment .payment .pay-address .pay-list .pay-item {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px; }
        .page-payment .payment .pay-address .pay-list .pay-item p {
          margin: 0;
          font-style: italic; }
        .page-payment .payment .pay-address .pay-list .pay-item span {
          margin-left: 20px;
          font-size: 16px;
          font-weight: 500; }
    .page-payment .payment .method-pay {
      padding: 10px 0; }
  .page-payment .pay {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: end; }
    .page-payment .pay .pay-product {
      flex: 1;
      background-color: #eee;
      margin-top: 20px;
      border-radius: 10px;
      padding: 10px 30px;
      margin-right: 20px;
      min-height: 200px; }
      .page-payment .pay .pay-product .product-item {
        display: flex;
        align-items: center;
        border-bottom: 4px solid #fff;
        margin-top: 20px; }
        .page-payment .pay .pay-product .product-item:last-child {
          border: none; }
        .page-payment .pay .pay-product .product-item .item-text {
          font-size: 16px;
          text-align: left;
          margin: 0; }
    .page-payment .pay .ok-pay {
      background-color: #eee;
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      margin-left: 20px;
      min-height: 200px; }
      .page-payment .pay .ok-pay .paypal {
        margin: auto;
        margin-top: 5px; }
      .page-payment .pay .ok-pay .pay-list {
        list-style: none;
        padding: 0 20px; }
        .page-payment .pay .ok-pay .pay-list .pay-item {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .page-payment .pay .ok-pay .pay-list .pay-item span {
            font-size: 20px; }
      .page-payment .pay .ok-pay .pay-btn {
        padding: 15px 30px;
        color: #fff;
        background-color: #000;
        border-radius: 10px;
        text-transform: uppercase;
        border: none;
        font-size: 15px;
        margin-top: 5px; }
        .page-payment .pay .ok-pay .pay-btn:hover {
          opacity: 0.8; }

.my-order {
  min-height: 100vh;
  margin-bottom: 50px; }
  .my-order .body {
    width: 60%;
    margin: auto; }
    .my-order .body .product {
      background-color: #eee;
      border-bottom: 4px solid #fff;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .my-order .body .product .item {
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .my-order .body .product .item:first-child {
          margin-top: 0; }
        .my-order .body .product .item img {
          margin-right: 20px;
          height: 120px;
          width: 120px; }
        .my-order .body .product .item .body-text p {
          font-size: 15px; }
      .my-order .body .product .right .price {
        background-color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px; }
      .my-order .body .product .right .paided {
        background-color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px; }
      .my-order .body .product .right .action {
        background-color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 10px; }

.order-details {
  width: 60%;
  margin: auto;
  margin-bottom: 50px; }
  .order-details .body {
    background-color: #eee;
    padding: 20px 40px;
    border-radius: 10px; }
    .order-details .body .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
      .order-details .body .info .receiver {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        height: 150px;
        display: table-cell;
        vertical-align: middle; }
        .order-details .body .info .receiver h3 {
          font-weight: 400; }
        .order-details .body .info .receiver .text {
          font-weight: 500; }
      .order-details .body .info .time {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        height: 150px;
        display: table-cell;
        vertical-align: middle; }
        .order-details .body .info .time .text {
          font-weight: 500; }
        .order-details .body .info .time h3 {
          font-weight: 400; }
      .order-details .body .info .paided {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        height: 150px;
        display: table-cell;
        vertical-align: middle; }
        .order-details .body .info .paided p {
          font-size: 16px; }
    .order-details .body .details {
      display: flex;
      justify-content: space-between;
      align-items: end; }
      .order-details .body .details .product {
        width: 70%;
        margin-right: 10px; }
      .order-details .body .details .item {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px; }
        .order-details .body .details .item img {
          width: 150px;
          height: 150px; }
        .order-details .body .details .item .text {
          margin-left: 20px; }
          .order-details .body .details .item .text h3 {
            font-weight: 400;
            padding: 5px 0; }
      .order-details .body .details .price {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 30%;
        margin-left: 10px; }
        .order-details .body .details .price h3 {
          font-weight: 400; }
        .order-details .body .details .price .total {
          font-weight: 500; }

.genderPage-text {
  margin: 0;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 3;
  width: fit-content;
  margin-bottom: 20px; }
  .genderPage-text::after {
    content: "";
    height: 10px;
    bottom: 5px;
    left: -15px;
    right: -15px;
    background: #e1e1e1;
    position: absolute;
    z-index: -1 !important; }

.footer-web {
  background-color: #f5f5f5;
  padding-top: 10px;
  font-size: 14px;
  z-index: 10; }
  .footer-web .item {
    display: flex;
    align-items: center; }
    .footer-web .item span {
      margin-left: 5px; }
  .footer-web .bg-light.text-center.text-lg-start.text-muted {
    background-color: transparent !important;
    z-index: 2 !important; }
  .footer-web .networks {
    padding: 0 20px; }
    .footer-web .networks a {
      font-size: 20px; }

@media (max-width: 1239px) {
  .header .center.align-items_center {
    padding-left: 50px; }
  .card-img-top {
    height: 350px !important; }
  .cart-body {
    padding: 0 50px !important; }
    .cart-body .img-product {
      width: 100px !important; } }

@media (max-width: 1024px) {
  .header {
    padding: 0 20px; }
    .header .center.align-items_center {
      padding-left: 50px; }
  .text-type {
    font-size: 30px !important; }
  .genderPage-text {
    font-size: 30px !important; }
  .nav-link {
    font-size: 16px !important; }
  .col-12.placeholder {
    height: 300px !important; }
  .col-card {
    height: 420px !important; }
  .produc-details .notify {
    margin-left: 20px; }
    .produc-details .notify .size-list {
      flex-wrap: wrap; }
      .produc-details .notify .size-list .size-item {
        margin-top: 5px !important; }
  .produc-details .img-anhphu {
    width: 400px; }
  .produc-details .img-1 {
    width: 400px;
    height: 500px; }
  .produc-details .product-info-bottom .product-info-list {
    padding: 15px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .icon img {
      width: 40px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text h4 {
      font-size: 14px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text p {
      font-size: 12px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text div {
      font-size: 14px; } }

@media (max-width: 768px) {
  .card-img-top {
    height: 300px !important; }
  .produc-details .add {
    font-size: 12px !important;
    padding: 0 20px !important; }
  .produc-details .bangSize {
    margin-left: 150px !important; }
  .produc-details .text-bangSize {
    font-size: 14px; }
  .produc-details .size-list .size-item {
    margin: 0 5px !important;
    margin-top: 5px !important; }
  .produc-details .img-anhphu {
    width: 350px; }
    .produc-details .img-anhphu img {
      width: 80px;
      height: 80px; }
  .produc-details .img-1 {
    width: 350px;
    height: 400px; }
  .produc-details .product-info-bottom .product-info-list {
    padding: 5px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .icon img {
      width: 40px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text h4 {
      font-size: 13px;
      display: flex;
      flex-wrap: wrap; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text p {
      font-size: 11px; }
    .produc-details .product-info-bottom .product-info-list .product-info-item .text div {
      font-size: 13px; }
  .cart-body {
    padding: 0 40px !important; }
    .cart-body .cart-shopping {
      padding: 20px !important; }
    .cart-body .pay-body {
      padding: 0 !important; } }

@media (max-width: 550px) {
  .header {
    padding: 0 10px !important;
    position: relative; }
    .header .container {
      padding: 0 !important;
      width: 100% !important; }
      .header .container .align-items_center.row {
        margin: 0 !important; }
    .header .logoMobile {
      padding: 0; }
    .header .openMobile {
      display: block !important;
      text-align: center;
      padding: 0; }
    .header .center {
      display: none; }
    .header .right {
      padding: 0 !important; }
      .header .right .btn-cart {
        flex: 1;
        padding: 0 !important;
        margin: 0 !important; }
      .header .right .info-user {
        flex: 1; }
      .header .right .textName {
        display: none; }
    .header .search {
      display: none !important; }
    .header .searchMobile {
      display: block !important;
      flex: 1;
      text-align: center; }
      .header .searchMobile .nav-mobile {
        display: flex !important; }
    .header .btn-sign {
      display: none !important; }
    .header .btn-signMobile {
      display: inline !important;
      font-size: 14px; }
  .ant-drawer-body {
    padding: 30px !important;
    position: relative; }
    .ant-drawer-body .modalSearchMobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
      font-size: 18px; }
      .ant-drawer-body .modalSearchMobile .item {
        color: #888 !important;
        display: block;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase; }
      .ant-drawer-body .modalSearchMobile span {
        color: #888; }
      .ant-drawer-body .modalSearchMobile .closeSearchMobile {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 26px;
        color: #555; }
  .searchInput {
    display: flex;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px solid #999; }
    .searchInput input {
      padding: 0;
      font-size: 1.6rem;
      border-radius: 0px;
      border: none;
      background-color: transparent; }
      .searchInput input:focus {
        border-bottom: none;
        box-shadow: none; }
    .searchInput button {
      padding: 10px;
      border-radius: 50%;
      font-size: 1.8rem;
      color: #333;
      border: none;
      background-color: transparent; }
  .noneMoblie {
    display: none !important; }
  .home .nav-link {
    font-size: 14px !important; }
  .product {
    padding: 20px !important; }
    .product .text-type {
      font-size: 26px !important; }
  .card-img-top {
    height: 250px !important; }
  .card {
    height: auto !important; }
  .col-card {
    height: 360px !important; }
    .col-card .col-12.placeholder {
      height: 250px !important; }
  .footer-web .container .row .item {
    justify-content: center; }
  .bannerNav {
    height: 300px !important; }
  .genderPage {
    margin-top: 40px !important; }
    .genderPage .genderPage-text {
      font-size: 26px !important; }
  .search-page {
    padding: 40px 0 0 0 !important; }
  .produc-details .container {
    display: block !important;
    padding-top: 0 !important; }
    .produc-details .container .img-đetails {
      width: 100% !important; }
    .produc-details .container .img-anhphu {
      width: 100% !important; }
      .produc-details .container .img-anhphu .img-đetails {
        width: 25% !important; }
  .produc-details .notify {
    margin: 0 !important;
    padding: 20px; }
    .produc-details .notify .add {
      font-size: 14px !important;
      padding: 0 30px !important; }
  .cart-body {
    padding: 0 20px !important;
    display: block !important; }
    .cart-body .cart-shopping {
      width: 100% !important;
      padding: 0 !important; }
      .cart-body .cart-shopping .img-product {
        width: 80px !important; }
    .cart-body .ant-steps {
      flex-direction: unset; }
      .cart-body .ant-steps .ant-steps-item-container {
        display: flex;
        justify-content: center; }
      .cart-body .ant-steps .ant-steps-item-tail {
        display: none !important; }
      .cart-body .ant-steps .ant-steps-item-icon {
        margin-inline-end: 6px !important; }
      .cart-body .ant-steps .ant-steps-item-title {
        font-size: 14px !important; }
    .cart-body .pay {
      width: 100% !important;
      padding: 30px; } }

@media (max-width: 280px) {
  .cart-body {
    padding: 0 !important; }
    .cart-body .cart-shopping {
      width: 100% !important;
      padding: 0 !important; }
      .cart-body .cart-shopping .img-product {
        width: 50px !important; }
  .ant-steps {
    display: none !important; } }
